@using System.Buffers.Text;
@using appShareWithLove.Models.ViewModels;
@using appShareWithLove.Models.Data;
@model PubliComment
@inject ShareWithLoveDbContext _context;
@{
    ViewData["Title"] = "Index";
    var model2 = Model.Comment;
    var model1 = Model.publi;
    int identity = 0;
    string moda = "moda";
    float num = 3;
}

<div class="text-center">
    <h1>¡Welcome to our family!</h1>
</div>


<p>
</p>
<div class="table">

                <div class="row">
@foreach (var item in Model.publi) {
            <div class="col-md-4 card">
                <div class="card-text row">
                    <p class="text-primary col-md-4 w-50 ">Date</p>
                    <p class=" col-md-4 w-50">@Html.DisplayFor(modelItem => item.Date)</p>
                </div>

                    @if(item.IdUserNavigation!=null){
               <p class="text-info"> @Html.DisplayFor(modelItem => item.IdUserNavigation.Name)</p>
                }
                <div class="list-group-item col">
                    @if (item.Image != null)
                    {
                        <img class="card-img-top " src="data:image/png;base64,@Convert.ToBase64String(item.Image)" />
                    }
                    <div class="row">
                </div>

                    @{identity++;}
                </div>
                
                <style>

                    .moda@(identity){
                        display:none;
                        padding:5%;
                        background-color:white;
                        position:absolute;
                        min-width:140px;
                        width:100%;
                        z-index:1;
                        border:solid 2px Gainsboro;
                    }
                    .modal@(identity){
                        display:none;
                        padding:5%;
                    }
                    .mod@(identity):focus-within> .moda@(identity) {
                        display:block;
                    }
                    .mod@(identity):focus-within> .modal@(identity) {
                        display:block;
                    }

                </style>
                @{
                    if ((Model.publi.Count()/num)  > Convert.ToInt32((Model.publi.Count()/num)))
                    {
                        if((Convert.ToInt32((Model.publi.Count()/num))-(identity/num))<0){
                            moda = "modal";
                    }
                        
                    }
                    else if(Convert.ToInt32(Model.publi.Count()/num)-(identity/num)<1){
                        
                        moda = "modal";
                        
                    }
                    }
                <div class="mod@(identity) " >
                    <button type="button" class="btn btn-outline-primary m-1">
                   Show Replies
                </button>
                <div class="@(moda+identity)" >
                    <div class="col-md model-body">
                    @foreach(var item1 in model2.FindAll(x => x.IdPublication==item.IdPublication))
                    {
                        <div class="row list-group-item">
                        
                    <div class="row">
                                    @if (item1.IdUserNavigation == null)
                                    {
                                        item1.IdUserNavigation = (_context).Users.Find(item1.IdUser);
                                    }
                                    <div class="col-md-9 w-100">@item1.IdUserNavigation.Name</div>
                                    <div class="col w-75 text-primary">
                             @nameof(item1.PublicationDate) :
                                    </div>
                                    <div class="col w-75">
                            @item1.PublicationDate
                        </div>
                        </div>
                                <div class="row">

                                    <div class="col text-info">
                                        Comment
                                    </div>
                                 <div class="col">
                                      @item1.Comment1
                                 </div>
                                </div>
                        </div>
                        }</div>
                        </div>
                        
                        
                </div>
                    
            </div>
            }

    </div>
</div>
